
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <a class="navbar-brand" routerLinkActive="active"  [routerLink]="['/home']">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
        </a>
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">{{inicio}}</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLinkActive="active" [routerLink]="['/feed']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{feed}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Tecnologia</a>
                  <a class="dropdown-item" href="#">Desenvolvimento</a>
                  <a class="dropdown-item" href="#">Notícias</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/about-Us']">{{quemSomonNos}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" [routerLink]="['/service']">{{servicos}}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active"  [routerLink]="['/contact']" >{{contatos}}</a>
              </li>      
            </ul>
        </div>
     </ul>

    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button" class="p-2 mb-2 bg-info text-white">
              <strong>Sign up</strong>
            </a>
            <a class="button" class="p-2 mb-2 btn btn-light">
              Log in
            </a>
          </div>
        </div>
    </div>
  </nav>
  