
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="#">
            <img src="http://placehold.it/150x50?text=Logo" alt="">
          </a>
        <li class="navbar-item">
            <a class="nav-link" href="#">{{inicio}}</a>
          </li>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{feed}}
                </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Tecnologia
            </a>
            <a class="navbar-item">
              Desenvolvimento
            </a>
            <a class="navbar-item">
              Notícias
            </a>
          </div>
          </div>
      <li class="navbar-item">
        <a class="nav-link" href="#">{{quemSomonNos}}</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#"> {{servicos}}</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="#">{{contatos}}</a>
      </li>
    </ul>
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
  </nav>
  